  <a href="/"><button>Back to Home</button></a>
<h1>Recipe Details</h1>

<h2>{{data}}</h2>
<h3>Author: <a href="/author/{{data.author.id}}">{{data.author}}</a></h3>
<h4>Date Posted:{{data.date}}<h4>
<div>Time Required: {{data.time_required}}</div>
<div>Description: {{data.description}}</div>
<div>Instructions: {{data.instructions}}</div>




    {% if request.user.is_authenticated%}


    {% if favorites is False %}
        <a href='/favorite/{{data.id}}'><button>Favorite</button></a>
    {% else %}
        <a href='/unfavorite/{{data.id}}'><button>Unfavorite</button></a>
        {% endif %} 
    {%endif%}


    {% if request.user == data.author.user or request.user.is_superuser %}
    <a href="/recipe_edit/{{data.id}}"><button>Edit</button></a>
    {% endif %}

    <p>{{favorites}}</p>